.md-danger-circle {
    color: $material-icon-danger-color;
    background-color: $material-icon-danger-bg;
}
.md-primary-circle {
    color: $material-icon-primary-color;
    background: $material-icon-primary-bg;
}